	<div id="time_now"></div>
	<div id="accordion1" style="height:100%" class="ui-accordian ui-widget ui-helper-reset" role="tablist">
		<div><b>Today's Sales (<span id="date_today"></span>): </b><span id="sales_today"><img width=30 height=30 src='ajax_loader_large.gif'></span></div>
		<span id="today_chart" style="width:100%;height:400px"></span>
		<div><b>Yesterday's Sales (<span id="date_yesterday"></span>): </b><span id="sales_yesterday"><img width=30 height=30 src='ajax_loader_large.gif'></span></div>
		<span id="yesterday_chart" style="width:100%;height:400px"></span>
		<div><b>Last Week's Sales (<span id="date_lastWeek"></span>): </b><span id="sales_lastWeek"><img width=30 height=30 src='ajax_loader_large.gif'></span></div>
		<span id="lastWeek_chart" style="width:100%;height:400px"></span>
		<div><b>Last Month's Sales (<span id="date_lastMonth"></span>): </b><span id="sales_lastMonth"><img width=30 height=30 src='ajax_loader_large.gif'></span></div>
		<span id="lastMonth_chart" style="width:100%;height:400px"></span>
		<div><b>Last Year's Sales (<span id="date_lastYear"></span>): </b><span id="sales_lastYear"><img width=30 height=30 src='ajax_loader_large.gif'></span></div>
		<span id="lastYear_chart" style="width:100%;height:400px"></span>
	</div>
<script>
$(document).ready(function() {
	$("#accordion1").accordion({active:false, fillSpace: true});
	var myDate = new Date();
	var myYesterday = new Date(myDate.getTime() - (24 * 60 * 60 * 1000));
	var myLastWeek = new Date(myDate.getTime() - (7 * 24 * 60 * 60 * 1000));
	var myLastMonth = new Date (myDate.getTime() - (28 * 24 * 60 * 60 * 1000));
	var myLastYear = new Date (myDate.getTime() - (52 * 7 * 24 * 60 * 60 * 1000));

	getSales(myDate, "#sales_today", "#date_today","#today_chart");
	getSales(myYesterday, "#sales_yesterday", "#date_yesterday","#yesterday_chart");
	getSales(myLastWeek, "#sales_lastWeek", "#date_lastWeek","#lastWeek_chart");
	getSales(myLastMonth, "#sales_lastMonth", "#date_lastMonth","#lastMonth_chart");
	getSales(myLastYear, "#sales_lastYear", "#date_lastYear","#lastYear_chart");

setInterval(function() {
	var myDate = new Date();
	var myYesterday = new Date(myDate.getTime() - (24 * 60 * 60 * 1000));
	var myLastWeek = new Date(myDate.getTime() - (7 * 24 * 60 * 60 * 1000));
	var myLastMonth = new Date (myDate.getTime() - (28 * 24 * 60 * 60 * 1000));
	var myLastYear = new Date (myDate.getTime() - (52 * 7 * 24 * 60 * 60 * 1000));

	getSales(myDate, "#sales_today", "#date_today","#today_chart");
	getSales(myYesterday, "#sales_yesterday", "#date_yesterday","#yesterday_chart");
	getSales(myLastWeek, "#sales_lastWeek", "#date_lastWeek","#lastWeek_chart");
	getSales(myLastMonth, "#sales_lastMonth", "#date_lastMonth","#lastMonth_chart");
	getSales(myLastYear, "#sales_lastYear", "#date_lastYear","#lastYear_chart");

}, 60000);

setInterval(function() {
	var myDate = new Date();

	$("#time_now").html(myDate.toLocaleTimeString());	
	

	
}, 1000);
});	

var getSales = function(d, is, ds, dc) {
	$(ds).html(d.toDateString());
	$.get("/NetIncome?date=" + d.getTime(), function(result) {
		$(is).html("$" + $.parseJSON(result)[0].net_sales);
		var mygraph = $.parseJSON(result)[0].graph_data;
		var mycats = [];
		var myvals = [];
		for(i=0;i<mygraph.length;i++) {
			mycats[i] = mygraph[i][0];
			myvals[i] = mygraph[i][1];
		}
		
		console.log(mycats);
		console.log(myvals);
		$(dc).html("&nbsp;");
		$(dc).highcharts({
			chart: {
				type: 'line'
			},
			title: {
				text: 'Sales breakdown by hour'
			},
			xAxis: {
				categories: mycats,
				labels: {
					rotation: 90
				}
			},
			series: [{
				name: d.toDateString(),
				data: myvals
			}]
		});
	});
};

</script>

